body{background-color: #EAC5C5;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin: auto;
    width: 95%;
}

ul.menu a{color: indianred;
            text-decoration: none;
            font-size: calc(5px + 2vw);
        }

ul.menu li{display: inline;
            list-style-type: none;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

.nav{width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

a.nav:hover{color:aliceblue;}

/* images */

img#bostonpic{width: 45%;
    margin: 2vw;
    padding: 2px;
    border-width: 2px;
    border-color:aliceblue;
}

img.store{width: 300px;
        margin-right: 2vw;
        margin-top: 2vw;
        border-radius: .5vw;
        padding: 2px;
}

ul.stores li{display: inline;}

img.foodpic{
    width:300px;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 1vw;
    padding: 2px;
}

ul.gallerypic li{display:inline;}

img#lobster{width: 30%;
    margin-right: 2vw;
    margin-top: 2vw;
    border-radius: .5vw;
    padding: 2px;}


img#store:hover{
    opacity: .5;
}

img#foodpic:hover{
    opacity: .7;
}